body {
  font-family: "Roboto Slab", sans-serif;
}

.callout-container {
  height: 100vh;
  background: url("../images/Screensaver.jpg") no-repeat bottom right;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(117, 117, 117, 0.096);
}

.alert-container .col-12 {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.site-wide-alert {

border-radius: 0;
margin-bottom: 0;
padding:5px 15px;
background-color: #c9a032;
border-color: #c9a032;
}




.content-container {


    padding-top:75px;
    padding-bottom: 75px;
}

.container-wrapper {}

.container-wrapper--red {

background-color: rgb(204, 125, 125);
color:white;
}

.block-divider--white {

background-color: whitesmoke;
}

.feature {

text-align:center;
margin-bottom:40px;
}

.feature i {

margin-bottom:20px;
font-size:45px;
line-height:45px;
}

.feature .btn {

border-radius:15px;
background-color: whitesmoke;
border-color: whitesmoke;
min-width:100px;
font-weight: bold;
margin-top:10px;



}









.nav-container {
}

.quote-container {
}

.feature-container {
}

.block-divider {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #3e96548c;
}


.block-divider-short {
  width: 75px;
  height: 5px;
  border: 0;
  background-color: #0ea0328c;
}

/*Jumbotron*/
.jumbotron {
  background-color: transparent;
}

.jumbotron small {
  font-size: 100%;
  color: rgb(191, 192, 192);
  font-style: italic;
}

.jumbotron .lead {
  margin: 25px 0;
  color: #02228a;
}

.jumbotron-header {
  color: #000c04;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 70px;
}

/*buttons*/

.btn--cta {
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

.btn--red {
  color: whitesmoke;
  background-color: rgb(204, 125, 125);
  border-color: rgb(204, 125, 125);
  font-weight: bold;
  border-radius: 23px;
  width: 160px;
}

/*Navbar*/

.navalert-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbar-brand {
  font-weight: bold;
}

.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.336);
}

.navbar .navbar-toggler {
  border: 0;
}


.page-header {
margin-bottom:0;
border-bottom:0;
text-align:center;
}

.quotes .page-header {
margin-bottom:25px;


}


.page-header h2 {

margin-top:0;
}

h2 {
text-align: center;
margin-top:35px;
}